
.line {
  width: calc(100% - 24px);
  height: 1.5px;
  background-color: #ccc;
  margin-left: 12px;
}

.box-chat {
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
}

.username {
  line-height: 40px;
  margin-left: 10px;
}

